
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Angular4 Forms</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<form  #form="ngForm"  (submit)="submitForm(form)" novalidate>
    <div class="form-group " [class.has-error]="firstName.invalid">
        <label for="firstname" class="control-label">FirstName</label>
        <input #firstName="ngModel" required id="firstname" type="text" placeholder="name" name="firstName" class="form-control"
        [ngModel]="model.firstName" (ngModelChange)='firstNameToUpperCase($event)'>
        <div *ngIf="firstName.invalid"   class="alert alert-danger">
            First name is required
        </div>
    </div>
    <h1>{{firstName.invalid}}</h1>
    <div class="form-group " [class.has-error]="lastName.invalid">
        <label for="lastname" class="control-label">Last Name</label>
        <input #lastName="ngModel" minlength="3" id="lastname" type="text" placeholder="name" name="lastName" 
        class="form-control"
        [(ngModel)]="model.lastName">
        <div *ngIf="lastName.invalid"   class="alert alert-danger">
            Last name should of min 3 letter
        </div>
    </div>
    <div class="form-group" [class.has-error]="phoneNumber.invalid">
        <label>Phone Number</label>
        <input  #phoneNumber="ngModel" pattern="[0-9]{10}" type="text"  placeholder="phoneNumber" class="form-control" 
        name="phoneNumber" [(ngModel)]="model.phoneNumber">
         <div *ngIf="phoneNumber.invalid" class="alert alert-danger">
            It should only be number
        </div>  
    </div>
    <!--<div class="form-group">
        <label for="lastname">LastName</label>
        <input id="lastname" type="text" placeholder="name" name="lastName" [(ngModel)]="model.lastName" class="form-control">
    </div>
    <div class="checkbox">
        <label></label>
        <input type="checkbox" name="emp_type" [(ngModel)]="model.emp_type"> Full Time
    </div>
    <label>Payment Type</label>
    <div class="radio">
        <label>
            <input type="radio" name="pay_type" value="cash" checked [(ngModel)]="model.pay_type">
            Cash
        </label>
         <label>
            <input type="radio" name="pay_type" value="Card" [(ngModel)]="model.pay_type">
            Card
        </label>
    </div>-->
    <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
        <label>Language</label>
        <select class="form-control" name="primaryLanguage" 
        (blur)="validatePrimaryLanguage($event)" [(ngModel)]="model.primaryLanguage">
            <option value="default">Select a language....</option>
            <option *ngFor="let plang of lang">
                {{plang}}
            </option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

Model: {{model | json}}
<br>
Angular4: {{form.value | json}}
<!--{{form.pristine}}-->